html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/cr.jpg'); /* Background pattern from Subtle Patterns */
    font-family: 'Henny Penny', cursive;
    background-size: cover;
    font-size: 1.1em;
    color: white;
    text-shadow: 1.5px 1px #8e9196;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    color: white;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(126, 9, 9);
    text-shadow: 1.5px 1px #62656b;
}

#banner{
    width: 45%;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #ffffff url('../img/parchment.jpg');
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 21%;
    background: url(../img/hogwarts.png) no-repeat center, url(../img/card-bg.png) no-repeat center;
    background-size: 80%, 100%;
    font-size: 0;
   /* color: #ffffff;*/
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

img{
    width: 100%;
    display:block;
    margin: 0 auto;
    border-radius: 7px;
}

.deck .card img{
    visibility: hidden;
}

.deck .card.open{
    transform: rotateY(0);
    background: #ffffff;
    cursor: default;

}

.deck .card.show img{
    font-size: 33px;
    visibility: visible;

}

.deck .card.match{
    cursor: default;
    background: #841313;
    font-size: 33px;
    border: 3px solid #841313;
}

.deck .card.match img{
    visibility: visible;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
    font-size:22px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: rgb(255, 238, 0);
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.score-panel .timer{
    display: inline-block;
    width: 200px;
    text-align:center; 
}

/*
*modal
*/
.shield {
    width:10%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    max-width: 65%;
    height: 90%;
   
    /*background properties*/
    background: url(../img/light-parchment.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}


.modal-content {
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    font-family: 'Princess Sofia';
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    text-shadow: none;
   
}

.modal-content p span{
    color: #841313;
} 

.starRating {
    list-style: none;
    display: inline-flex;
}

button{
    background-color: #841313;
    font: 18px 'Henny Penny';
    color: #ffdd4c;
    border: 0;
    border-radius: 8px;
    padding: 5px 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background-color: #5e0606;
    cursor: pointer;
}

button:focus {outline:0;}

/*
 * Responsive design
 */

@media screen and (max-width: 675px){
    .deck{
        width: 90%;
    }
}


@media screen and (max-width: 575px){
    .deck{
        width: 90%;
    }
    .deck .card{
        height: 110px;
    }
}

@media screen and (max-width: 500px){
    .deck{
        width: 95%;
        min-height: 500px;
    }
    .deck .card{
        height: 100px;
    }
}

@media screen and (max-width: 425px){
    .deck{
        width: 95%;
        min-height:450px;
    }
    .deck .card{
        height: 80px;
    }
}